.plasmic_tokens {
  --token-_aVAOSuusH4-: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-_aVAOSuusH4-);
  --token-u-AQQRmqnhlH: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-u-AQQRmqnhlH);
  --token-oLIUBfNb8Z1l: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-oLIUBfNb8Z1l);
  --token-0fnHY1gYVsoU: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-0fnHY1gYVsoU);
  --token-6fb4p4cJQory: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-6fb4p4cJQory);
  --token-Wlrsjx_VDKHr: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-Wlrsjx_VDKHr);
  --token-xbiBUJcrr3V8: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-xbiBUJcrr3V8);
  --token-LQT3YkZtgPzC: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-LQT3YkZtgPzC);
  --token--Zp5GkmPr6CI: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token--Zp5GkmPr6CI);
  --token-6O_sfBz73wz3: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-6O_sfBz73wz3);
  --token-h7zTaNgA16Wj: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-h7zTaNgA16Wj);
  --token-4u9Kq42G97yE: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-4u9Kq42G97yE);
  --token-Xb6I3IB3w_EK: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-Xb6I3IB3w_EK);
  --token-qfVuO_2lHE_l: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-qfVuO_2lHE_l);
  --token-86-U3AOo852w: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-86-U3AOo852w);
  --token-VjrjoT8JqOgm: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-VjrjoT8JqOgm);
  --token-mzZ0HnCQV_jk: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-mzZ0HnCQV_jk);
  --token-u4-1U5i2CHHR: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-u4-1U5i2CHHR);
  --token-czY6Bg7GO-pN: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-czY6Bg7GO-pN);
  --token-8ZgFaaDFWFIf: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-8ZgFaaDFWFIf);
  --token-Y2kY0d10lClC: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-Y2kY0d10lClC);
  --token-ALj4MIg5100C: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-ALj4MIg5100C);
  --token--TuVbdMEkwNy: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token--TuVbdMEkwNy);
  --token-EA35pCnfbEtT: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-EA35pCnfbEtT);
  --token-Wc8j5Rh0priy: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-Wc8j5Rh0priy);
  --token-getUz7XGWtoA: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-getUz7XGWtoA);
  --token-Bri1RwOV-puc: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-Bri1RwOV-puc);
  --token-4GbHtcxaOmEe: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-4GbHtcxaOmEe);
  --token-1vCzWBLarZ8L: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-1vCzWBLarZ8L);
  --token-AooeQneAYC0m: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-AooeQneAYC0m);
  --token-dKuCOqR0rQp8: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-dKuCOqR0rQp8);
  --token-j0QrpBi8H6bQ: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-j0QrpBi8H6bQ);
  --token-opI8FOaZpiO9: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-opI8FOaZpiO9);
  --token-xlLNFwYj3K_x: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-xlLNFwYj3K_x);
  --token-j37fzlWiu5pm: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-j37fzlWiu5pm);
  --token-EqnHRdVuHzfb: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-EqnHRdVuHzfb);
  --token-HS9JvKlotXab: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-HS9JvKlotXab);
  --token-lIuZqoeKWSFU: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-lIuZqoeKWSFU);
  --token-mtOfXIBusAND: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-mtOfXIBusAND);
  --token-Ki_sPzn9TpT_: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-Ki_sPzn9TpT_);
  --token-x2Ep9rAa-MKs: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-x2Ep9rAa-MKs);
  --token-kdpCAkfz64zo: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-kdpCAkfz64zo);
  --token-o8TadukZIjdT: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-o8TadukZIjdT);
  --token-f4x_r17US33m: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-f4x_r17US33m);
  --token-1ng6zyOcQPZ-: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-1ng6zyOcQPZ-);
  --token-s9FswcU_Cr-R: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-s9FswcU_Cr-R);
  --token-Au_oFWqRVEUZ: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-Au_oFWqRVEUZ);
  --token-f2dibjK9-v2a: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-f2dibjK9-v2a);
  --token-LKCKg_LPYw7F: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-LKCKg_LPYw7F);
  --token-S04XtCZi3pZW: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-S04XtCZi3pZW);
  --token-ICmqHyvX-h_Y: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-ICmqHyvX-h_Y);
  --token-t3GVqPB7mxb6: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-t3GVqPB7mxb6);
  --token-u6EGj767AKTu: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-u6EGj767AKTu);
  --token-atenw3GUFg7R: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-atenw3GUFg7R);
  --token-DXycEIpqGuBR: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-DXycEIpqGuBR);
  --token-qpXckFqcMcAS: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-qpXckFqcMcAS);
  --token-_CDYaLTx9dK3: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-_CDYaLTx9dK3);
  --token-ZH7mNhZ4w7Go: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-ZH7mNhZ4w7Go);
  --token-qs7JnnQ55eh0: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-qs7JnnQ55eh0);
  --token-MARuxqNGVRE8: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-MARuxqNGVRE8);
  --token-N4r5qbKUp72v: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token-N4r5qbKUp72v);
  --token-8IDAY_zsLssV: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-8IDAY_zsLssV);
  --token-87-O7lEVhY6M: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-87-O7lEVhY6M);
  --token-RWnZXtUzQpC8: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-RWnZXtUzQpC8);
  --token-iINVuqQqi9nw: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-iINVuqQqi9nw);
  --token-jxUdGuulQocs: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-jxUdGuulQocs);
  --token-j_Rz03IEDmpc: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-j_Rz03IEDmpc);
  --token-8sHznzXzgIMc: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token-8sHznzXzgIMc);
  --token-EC5lXMZ-ANy5: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-EC5lXMZ-ANy5);
  --token-yzFQ6OTXrAIx: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-yzFQ6OTXrAIx);
  --token-KjHZvpcQmgwi: var(--antd-paddingXXS);
  --plasmic-token-system-padding-xxs: var(--token-KjHZvpcQmgwi);
  --token-4hzQNBxeuvuJ: var(--antd-paddingXS);
  --plasmic-token-system-padding-xs: var(--token-4hzQNBxeuvuJ);
  --token-IGX7LhJueKhL: var(--antd-paddingSM);
  --plasmic-token-system-padding-sm: var(--token-IGX7LhJueKhL);
  --token-68R4SsjUViWO: var(--antd-padding);
  --plasmic-token-system-padding-m: var(--token-68R4SsjUViWO);
  --token-8LK8XLw6NJ1H: var(--antd-paddingMD);
  --plasmic-token-system-padding-md: var(--token-8LK8XLw6NJ1H);
  --token-jGYz-I0rgqWY: var(--antd-paddingLG);
  --plasmic-token-system-padding-lg: var(--token-jGYz-I0rgqWY);
  --token-5Kc-xRTXzi7E: var(--antd-paddingXL);
  --plasmic-token-system-padding-xl: var(--token-5Kc-xRTXzi7E);
  --token-j6Xi1SG_qCDe: var(--antd-marginXXS);
  --plasmic-token-system-margin-xxs: var(--token-j6Xi1SG_qCDe);
  --token-ElnnGcIwafGL: var(--antd-marginXS);
  --plasmic-token-system-margin-xs: var(--token-ElnnGcIwafGL);
  --token-oBzPX0VptNrj: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-oBzPX0VptNrj);
  --token-gcawmjNjEp6H: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-gcawmjNjEp6H);
  --token-x-1c6BA2LyUy: var(--antd-marginMD);
  --plasmic-token-system-margin-md: var(--token-x-1c6BA2LyUy);
  --token-o_-vNnuUyCyP: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-o_-vNnuUyCyP);
  --token-40A-aLZJ8uk3: var(--antd-marginXL);
  --plasmic-token-system-margin-xl: var(--token-40A-aLZJ8uk3);
  --token-Ry6At8z6ssuK: var(--antd-marginXXL);
  --plasmic-token-system-margin-xxl: var(--token-Ry6At8z6ssuK);
  --token-kovYF8KMD_gi: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-kovYF8KMD_gi);
  --token-6EQMkyJH1hGn: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-6EQMkyJH1hGn);
  --token-T8AeDz5hzyXq: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-T8AeDz5hzyXq);
  --token-zXuA2tUoppBp: var(--antd-fontSizeXL);
  --plasmic-token-system-xl: var(--token-zXuA2tUoppBp);
  --token-8rtZmpBBLQib: var(--antd-fontSizeHeading1);
  --plasmic-token-system-heading-1: var(--token-8rtZmpBBLQib);
  --token--SXiuJ7WJYh4: var(--antd-fontSizeHeading2);
  --plasmic-token-system-heading-2: var(--token--SXiuJ7WJYh4);
  --token-y7wHpfDCpclQ: var(--antd-fontSizeHeading3);
  --plasmic-token-system-heading-3: var(--token-y7wHpfDCpclQ);
  --token-RGfZnPykUhfn: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-RGfZnPykUhfn);
  --token-RNWHVIMwco7F: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-RNWHVIMwco7F);
  --token-aX4HR8t6pZsl: var(--antd-lineHeight);
  --plasmic-token-system-m: var(--token-aX4HR8t6pZsl);
  --token-udBAeAiiw4YE: var(--antd-lineHeightLG);
  --plasmic-token-system-lg: var(--token-udBAeAiiw4YE);
  --token-T6yNJKICPILS: var(--antd-lineHeightSM);
  --plasmic-token-system-sm: var(--token-T6yNJKICPILS);
  --token-pOntZnDFgso5: var(--antd-lineHeightHeading1);
  --plasmic-token-system-heading-1: var(--token-pOntZnDFgso5);
  --token-dJ3swmQaGljt: var(--antd-lineHeightHeading2);
  --plasmic-token-system-heading-2: var(--token-dJ3swmQaGljt);
  --token-P5bW2-b4aHNr: var(--antd-lineHeightHeading3);
  --plasmic-token-system-heading-3: var(--token-P5bW2-b4aHNr);
  --token-i5Kul0TGi53R: var(--antd-lineHeightHeading4);
  --plasmic-token-system-heading-4: var(--token-i5Kul0TGi53R);
  --token-oldpZgJBjH7r: var(--antd-lineHeightHeading5);
  --plasmic-token-system-heading-5: var(--token-oldpZgJBjH7r);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
